[Desktop Entry]
Encoding=UTF-8
Name=DriveWire 4
Comment=A disk emulation server for the Tandy/TRS-80 Color Computer.
Categories=Application;Java
Version=4
Type=Application
Terminal=0
