<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<drivewire-config xmlns="http://groupunix.org/DriveWireConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://groupunix.org/DriveWireConfig Config.xsd ">
<UIEnabled category="advanced" type="boolean">true</UIEnabled>
<UIPort category="advanced" max="65535" min="1" type="int">6800
	</UIPort>
<UseRXTX category="advanced,device" type="boolean">true</UseRXTX>
<LoadRXTX category="advanced,device" type="boolean">true</LoadRXTX>
<LoadRXTXPath category="advanced,device" type="directory"/>
<ConfigAutosave category="advanced" type="boolean">true
	</ConfigAutosave>
<LogLevel category="server,logging" list="ALL,DEBUG,INFO,WARN,ERROR,FATAL" type="list">DEBUG</LogLevel>
<LogToConsole category="logging" type="boolean">true</LogToConsole>
<LogFormat category="advanced,logging" type="string"/>
<LogToFile category="logging" type="boolean">false</LogToFile>
<LogFile category="logging" type="file"/>
<LogUIConnections category="logging,advanced" type="boolean">true</LogUIConnections>
<DiskLazyWriteInterval category="advanced,disk" max="60000" min="1000" type="int">5000</DiskLazyWriteInterval>
<LocalDiskDir category="advanced,disk" type="directory"/>
<StatusInterval category="advanced,server" max="60000" min="1000" type="int">1000</StatusInterval>
<instance category="instance" desc="Autocreated 2013-04-12 02:00:00.984" name="CoCo 3 on COM1">

		<CurrentPrinter category="printing" section="instance.Printer" type="section">Text</CurrentPrinter>

		<Printer category="printing" desc="Outputs images of emulated FX80 output" name="FX80">
			<Driver list="TEXT,FX80" type="list">FX80</Driver>
			<OutputDir type="directory">cocoprints</OutputDir>
			<CharacterFile type="file">default.chars</CharacterFile>
			<Columns max="132" min="1" type="int">80</Columns>
			<Lines max="132" min="1" type="int">66</Lines>
			<DPI max="1200" min="50" type="int">300</DPI>
			<ImageFormat list="JPG,GIF,PNG,BMP" type="list">BMP</ImageFormat>
			<FlushCommand type="string"/>
			<OutputFile type="file"/>
		</Printer>

		<Printer category="printing" desc="Outputs plain text files" name="Text">
			<Driver category="printing" list="TEXT,FX80" type="list">TEXT</Driver>
			<OutputDir category="printing" type="directory">cocoprints</OutputDir>

		</Printer>

		<UseMIDI category="midi" type="boolean">true</UseMIDI>
		<MIDISynthDefaultSoundbank category="midi" type="file">soundbank-deluxe.gm</MIDISynthDefaultSoundbank>
		<MIDISynthDefaultProfile category="midi" section="midisynthprofile" type="section">gm</MIDISynthDefaultProfile>
        <MIDIDefaultOutput category="midi">1</MIDIDefaultOutput>
        
		<HelpFile category="advanced">help.xml</HelpFile>

		<LogOpCodePolls category="logging,advanced" type="boolean">false
		</LogOpCodePolls>
		<LogOpCode category="logging,advanced" type="boolean">true
		</LogOpCode>
		<LogDeviceBytes category="logging,advanced" type="boolean">false
		</LogDeviceBytes>
		<LogMIDIBytes category="logging,advanced" type="boolean">false
		</LogMIDIBytes>
		<LogVPortBytes category="logging,advanced" type="boolean">false
		</LogVPortBytes>
		<LogTiming category="logging,advanced" type="boolean">false
        </LogTiming>


		<DeviceType category="device" list="serial,tcp-server,tcp-client,dummy" type="list">serial</DeviceType>
		<TCPServerPort category="device" max="65535" min="1" type="int">65504</TCPServerPort>
		<TCPClientPort category="device" max="65535" min="1" type="int"/>
		<TCPClientHost category="device" type="string"/>
		<SerialDevice category="device" type="serialdev">COM1</SerialDevice>
		<DetectDATurbo category="advanced,device" type="boolean">false
		</DetectDATurbo>
		<SerialRate category="device" list="38400,57600,115200,230400,460800,921600" type="list">115200</SerialRate>
		<SerialParity category="device,advanced" list="none,even,odd,mark,space" type="list">none</SerialParity>
		<SerialStopbits category="device,advanced" list="1,1.5,2" type="list">1</SerialStopbits>
		<DW3Only category="device,advanced" type="boolean">false</DW3Only>
		<ProtocolFlipOutputBits category="advanced,device" type="boolean">false</ProtocolFlipOutputBits>
		<ProtocolResponsePrefix category="advanced,device" type="boolean">false</ProtocolResponsePrefix>
		<ProtocolDisableReadChecksum category="advanced,device" type="boolean">false</ProtocolDisableReadChecksum>
		<ProtocolLieAboutCRC category="advanced,device" type="boolean">false</ProtocolLieAboutCRC>
		<DeviceFailRetryTime category="advanced,device" max="60000" min="1000" type="int"/>
		<DiskSectorSize category="advanced,disk" max="16384" min="1" type="int"/>
		<ReadDelay category="advanced,disk" max="16384" min="1" type="int"/>
		
		<!--   <WriteByteDelay category="advanced,device" type="int">10</WriteByteDelay> -->
			
		<OpTimeSendsDOW category="advanced,device" type="boolean">false
		</OpTimeSendsDOW>
		<DWCommandOutputWidth category="advanced,device" max="240" min="1" type="int"/>

		<ListenAddress category="networking,advanced" type="networkinterface"/>
		<TermPort category="networking" max="65535" min="1" type="int"/>
		<TelnetBannerFile category="networking" type="file"/>
		<TelnetNoPortsBannerFile category="networking,advanced" type="file"/>

		<HDBDOSMode category="disk,advanced" type="boolean">false</HDBDOSMode>

        <NamedObjectDir category="disk,advanced" type="directory">E:/cocodisks\named</NamedObjectDir>
        <NamedObject category="disk,advanced" name="CoCoBoot.isave" path="E:/cocodisks/named/CoCoBoot.isave" type="namedobj"/>
        <NamedObject category="disk,advanced" name="test" path="E:/cocodisks/named/CoCoBoot.isave" type="namedobj"/>
        
        <Drive0Path category="disk,advanced" type="file">file:///E:/cocodisks/cc.dsk</Drive0Path>
        <Drive1Path category="disk,advanced" type="file"/>
        <Drive2Path category="disk,advanced" type="file"/>


<SerialDTR>false</SerialDTR>
<SerialRTS>false</SerialRTS>
<SerialFlowControl_RTSCTS_IN>false</SerialFlowControl_RTSCTS_IN>
<SerialFlowControl_RTSCTS_OUT>false</SerialFlowControl_RTSCTS_OUT>
	</instance>
<instance category="instance" desc="Autocreated 2013-04-07 23:29:30.453" name="TCP connection no 2">

		<CurrentPrinter category="printing" section="instance.Printer" type="section">Text</CurrentPrinter>

		<Printer category="printing" desc="Outputs images of emulated FX80 output" name="FX80">
			<Driver list="TEXT,FX80" type="list">FX80</Driver>
			<OutputDir type="directory">cocoprints</OutputDir>
			<CharacterFile type="file">default.chars</CharacterFile>
			<Columns max="132" min="1" type="int">80</Columns>
			<Lines max="132" min="1" type="int">66</Lines>
			<DPI max="1200" min="50" type="int">300</DPI>
			<ImageFormat list="JPG,GIF,PNG,BMP" type="list">BMP</ImageFormat>
			<FlushCommand type="string"/>
			<OutputFile type="file"/>
		</Printer>

		<Printer category="printing" desc="Outputs plain text files" name="Text">
			<Driver category="printing" list="TEXT,FX80" type="list">TEXT</Driver>
			<OutputDir category="printing" type="directory">cocoprints</OutputDir>
<test>test</test>
		</Printer>

		<UseMIDI category="midi" type="boolean">true</UseMIDI>
		<MIDISynthDefaultSoundbank category="midi" type="file">soundbank-deluxe.gm</MIDISynthDefaultSoundbank>
		<MIDISynthDefaultProfile category="midi" section="midisynthprofile" type="section">gm</MIDISynthDefaultProfile>
        <MIDIDefaultOutput category="midi">1</MIDIDefaultOutput>
        
		<HelpFile category="advanced">help.xml</HelpFile>

		<LogOpCodePolls category="logging,advanced" type="boolean">false
		</LogOpCodePolls>
		<LogOpCode category="logging,advanced" type="boolean">true
		</LogOpCode>
		<LogDeviceBytes category="logging,advanced" type="boolean">false
		</LogDeviceBytes>
		<LogMIDIBytes category="logging,advanced" type="boolean">false
		</LogMIDIBytes>
		<LogVPortBytes category="logging,advanced" type="boolean">false
		</LogVPortBytes>
		<LogTiming category="logging,advanced" type="boolean">false
        </LogTiming>


		<DeviceType category="device" list="serial,tcp-server,tcp-client,dummy" type="list">tcp-server</DeviceType>
		<TCPServerPort category="device" max="65535" min="1" type="int">65505</TCPServerPort>
		<TCPClientPort category="device" max="65535" min="1" type="int"/>
		<TCPClientHost category="device" type="string"/>
		<SerialDevice category="device" type="serialdev">COM1</SerialDevice>
		<DetectDATurbo category="advanced,device" type="boolean">false
		</DetectDATurbo>
		<SerialRate category="device" list="38400,57600,115200,230400,460800,921600" type="list">38400</SerialRate>
		<SerialParity category="device,advanced" list="none,even,odd,mark,space" type="list">none</SerialParity>
		<SerialStopbits category="device,advanced" list="1,1.5,2" type="list">1</SerialStopbits>
		<DW3Only category="device,advanced" type="boolean">false</DW3Only>
		<ProtocolFlipOutputBits category="advanced,device" type="boolean">false</ProtocolFlipOutputBits>
		<ProtocolResponsePrefix category="advanced,device" type="boolean">false</ProtocolResponsePrefix>
		<ProtocolDisableReadChecksum category="advanced,device" type="boolean">false</ProtocolDisableReadChecksum>
		<ProtocolLieAboutCRC category="advanced,device" type="boolean">false</ProtocolLieAboutCRC>
		<DeviceFailRetryTime category="advanced,device" max="60000" min="1000" type="int"/>
		<DiskSectorSize category="advanced,disk" max="16384" min="1" type="int"/>
		<ReadDelay category="advanced,disk" max="16384" min="1" type="int"/>
		
		<!--   <WriteByteDelay category="advanced,device" type="int">10</WriteByteDelay> -->
			
		<OpTimeSendsDOW category="advanced,device" type="boolean">false
		</OpTimeSendsDOW>
		<DWCommandOutputWidth category="advanced,device" max="240" min="1" type="int"/>

		<ListenAddress category="networking,advanced" type="networkinterface"/>
		<TermPort category="networking" max="65535" min="1" type="int"/>
		<TelnetBannerFile category="networking" type="file"/>
		<TelnetNoPortsBannerFile category="networking,advanced" type="file"/>

		<HDBDOSMode category="disk,advanced" type="boolean">false</HDBDOSMode>

        <NamedObjectDir category="disk,advanced" type="directory">E:/cocodisks\named</NamedObjectDir>
        <NamedObject category="disk,advanced" name="CoCoBoot.isave" path="E:/cocodisks/named/CoCoBoot.isave" type="namedobj"/>
        <NamedObject category="disk,advanced" name="test" path="E:/cocodisks/named/CoCoBoot.isave" type="namedobj"/>
        
        <Drive0Path category="disk,advanced" type="file"/>
        <Drive1Path category="disk,advanced" type="file">file:///C:/Users/Aaron/workspace/drivewireserver/DriveWireUI/testdiskcreate.dsk</Drive1Path>
        <Drive2Path category="disk,advanced" type="file"/>


<SerialDTR>false</SerialDTR>
<SerialRTS>false</SerialRTS>
<SerialFlowControl_RTSCTS_IN>false</SerialFlowControl_RTSCTS_IN>
<SerialFlowControl_RTSCTS_OUT>false</SerialFlowControl_RTSCTS_OUT>

	<AutoStart>false</AutoStart>




	</instance>
<instance category="instance" desc="Autocreated 2013-04-12 02:02:17.655" name="TCP connection via TCP">
	
		<CurrentPrinter category="printing" section="instance.Printer" type="section">Text</CurrentPrinter>

		<Printer category="printing" desc="Outputs images of emulated FX80 output" name="FX80">
			<Driver list="TEXT,FX80" type="list">FX80</Driver>
			<OutputDir type="directory">cocoprints</OutputDir>
			<CharacterFile type="file">default.chars</CharacterFile>
			<Columns max="132" min="1" type="int">80</Columns>
			<Lines max="132" min="1" type="int">66</Lines>
			<DPI max="1200" min="50" type="int">300</DPI>
			<ImageFormat list="JPG,GIF,PNG,BMP" type="list">BMP</ImageFormat>
			<FlushCommand type="string"/>
			<OutputFile type="file"/>
		</Printer>

		<Printer category="printing" desc="Outputs plain text files" name="Text">
			<Driver category="printing" list="TEXT,FX80" type="list">TEXT</Driver>
			<OutputDir category="printing" type="directory">cocoprints</OutputDir>

		</Printer>

		<UseMIDI category="midi" type="boolean">true</UseMIDI>
		<MIDISynthDefaultSoundbank category="midi" type="file">soundbank-deluxe.gm</MIDISynthDefaultSoundbank>
		<MIDISynthDefaultProfile category="midi" section="midisynthprofile" type="section">gm</MIDISynthDefaultProfile>
        <MIDIDefaultOutput category="midi">1</MIDIDefaultOutput>
        
		<HelpFile category="advanced">help.xml</HelpFile>

		<LogOpCodePolls category="logging,advanced" type="boolean">false
		</LogOpCodePolls>
		<LogOpCode category="logging,advanced" type="boolean">true
		</LogOpCode>
		<LogDeviceBytes category="logging,advanced" type="boolean">false
		</LogDeviceBytes>
		<LogMIDIBytes category="logging,advanced" type="boolean">false
		</LogMIDIBytes>
		<LogVPortBytes category="logging,advanced" type="boolean">false
		</LogVPortBytes>
		<LogTiming category="logging,advanced" type="boolean">false
        </LogTiming>


		<DeviceType category="device" list="serial,tcp-server,tcp-client,dummy" type="list">tcp-server</DeviceType>
		<TCPServerPort category="device" max="65535" min="1" type="int">65506</TCPServerPort>
		<TCPClientPort category="device" max="65535" min="1" type="int"/>
		<TCPClientHost category="device" type="string"/>
		<SerialDevice category="device" type="serialdev">COM1</SerialDevice>
		<DetectDATurbo category="advanced,device" type="boolean">false
		</DetectDATurbo>
		<SerialRate category="device" list="38400,57600,115200,230400,460800,921600" type="list">115200</SerialRate>
		<SerialParity category="device,advanced" list="none,even,odd,mark,space" type="list">none</SerialParity>
		<SerialStopbits category="device,advanced" list="1,1.5,2" type="list">1</SerialStopbits>
		<DW3Only category="device,advanced" type="boolean">false</DW3Only>
		<ProtocolFlipOutputBits category="advanced,device" type="boolean">false</ProtocolFlipOutputBits>
		<ProtocolResponsePrefix category="advanced,device" type="boolean">false</ProtocolResponsePrefix>
		<ProtocolDisableReadChecksum category="advanced,device" type="boolean">false</ProtocolDisableReadChecksum>
		<ProtocolLieAboutCRC category="advanced,device" type="boolean">false</ProtocolLieAboutCRC>
		<DeviceFailRetryTime category="advanced,device" max="60000" min="1000" type="int"/>
		<DiskSectorSize category="advanced,disk" max="16384" min="1" type="int"/>
		<ReadDelay category="advanced,disk" max="16384" min="1" type="int"/>
		
		<!--   <WriteByteDelay category="advanced,device" type="int">10</WriteByteDelay> -->
			
		<OpTimeSendsDOW category="advanced,device" type="boolean">false
		</OpTimeSendsDOW>
		<DWCommandOutputWidth category="advanced,device" max="240" min="1" type="int"/>

		<ListenAddress category="networking,advanced" type="networkinterface"/>
		<TermPort category="networking" max="65535" min="1" type="int"/>
		<TelnetBannerFile category="networking" type="file"/>
		<TelnetNoPortsBannerFile category="networking,advanced" type="file"/>

		<HDBDOSMode category="disk,advanced" type="boolean">false</HDBDOSMode>

        <NamedObjectDir category="disk,advanced" type="directory">E:/cocodisks\named</NamedObjectDir>
        <NamedObject category="disk,advanced" name="CoCoBoot.isave" path="E:/cocodisks/named/CoCoBoot.isave" type="namedobj"/>
        <NamedObject category="disk,advanced" name="test" path="E:/cocodisks/named/CoCoBoot.isave" type="namedobj"/>
        
        <Drive0Path category="disk,advanced" type="file">file:///E:/cocodisks/fpgauucp.dsk</Drive0Path>
        <Drive1Path category="disk,advanced" type="file"/>
        <Drive2Path category="disk,advanced" type="file"/>


<SerialDTR>false</SerialDTR>
<SerialRTS>false</SerialRTS>
<SerialFlowControl_RTSCTS_IN>false</SerialFlowControl_RTSCTS_IN>
<SerialFlowControl_RTSCTS_OUT>false</SerialFlowControl_RTSCTS_OUT>
	</instance>
<midisynthprofile category="midi" desc="General MIDI / Roland SoundCanvas" name="gm"/>
<midisynthprofile category="midi" desc="Yamaha PSS-480/680" dev_adjust="1" gm_adjust="-1" name="pss480">
		<mapping dev="0" gm="38"/>
		<mapping dev="1" gm="18"/>
		<mapping dev="2" gm="19"/>
		<mapping dev="3" gm="0"/>
		<mapping dev="4" gm="6"/>
		<mapping dev="5" gm="4"/>
		<mapping dev="6" gm="8"/>
		<mapping dev="7" gm="11"/>
		<mapping dev="8" gm="12"/>
		<mapping dev="9" gm="114"/>
		<mapping dev="10" gm="40"/>
		<mapping dev="11" gm="42"/>
		<mapping dev="12" gm="26"/>
		<mapping dev="13" gm="29"/>
		<mapping dev="14" gm="32"/>
		<mapping dev="15" gm="56"/>
		<mapping dev="16" gm="57"/>
		<mapping dev="17" gm="60"/>
		<mapping dev="18" gm="64"/>
		<mapping dev="19" gm="71"/>
		<mapping dev="20" gm="73"/>
		<mapping dev="21" gm="68"/>
		<mapping dev="22" gm="22"/>
		<mapping dev="23" gm="78"/>
		<mapping dev="24" gm="10"/>
		<mapping dev="25" gm="3"/>
		<mapping dev="26" gm="2"/>
		<mapping dev="27" gm="17"/>
		<mapping dev="28" gm="16"/>
		<mapping dev="29" gm="19"/>
		<mapping dev="30" gm="7"/>
		<mapping dev="31" gm="21"/>
		<mapping dev="32" gm="9"/>
		<mapping dev="33" gm="25"/>
		<mapping dev="34" gm="105"/>
		<mapping dev="35" gm="43"/>
		<mapping dev="36" gm="24"/>
		<mapping dev="37" gm="46"/>
		<mapping dev="38" gm="34"/>
		<mapping dev="39" gm="36"/>
		<mapping dev="40" gm="45"/>
		<mapping dev="41" gm="48"/>
		<mapping dev="42" gm="69"/>
		<mapping dev="43" gm="109"/>
		<mapping dev="44" gm="59"/>
		<mapping dev="45" gm="66"/>
		<mapping dev="46" gm="76"/>
		<mapping dev="47" gm="75"/>
		<mapping dev="48" gm="15"/>
		<mapping dev="49" gm="20"/>
		<mapping dev="50" gm="80"/>
		<mapping dev="51" gm="16"/>
		<mapping dev="52" gm="1"/>
		<mapping dev="53" gm="6"/>
		<mapping dev="54" gm="5"/>
		<mapping dev="55" gm="9"/>
		<mapping dev="56" gm="108"/>
		<mapping dev="57" gm="18"/>
		<mapping dev="58" gm="38"/>
		<mapping dev="59" gm="12"/>
		<mapping dev="60" gm="114"/>
		<mapping dev="61" gm="15"/>
		<mapping dev="62" gm="14"/>
		<mapping dev="63" gm="9"/>
		<mapping dev="64" gm="79"/>
		<mapping dev="65" gm="118"/>
		<mapping dev="66" gm="47"/>
		<mapping dev="67" gm="41"/>
		<mapping dev="68" gm="28"/>
		<mapping dev="69" gm="26"/>
		<mapping dev="70" gm="30"/>
		<mapping dev="71" gm="25"/>
		<mapping dev="72" gm="24"/>
		<mapping dev="73" gm="26"/>
		<mapping dev="74" gm="24"/>
		<mapping dev="75" gm="104"/>
		<mapping dev="76" gm="107"/>
		<mapping dev="77" gm="106"/>
		<mapping dev="78" gm="111"/>
		<mapping dev="79" gm="32"/>
		<mapping dev="80" gm="33"/>
		<mapping dev="81" gm="32"/>
		<mapping dev="82" gm="93"/>
		<mapping dev="83" gm="89"/>
		<mapping dev="84" gm="58"/>
		<mapping dev="85" gm="65"/>
		<mapping dev="86" gm="70"/>
		<mapping dev="87" gm="70"/>
		<mapping dev="88" gm="74"/>
		<mapping dev="89" gm="79"/>
		<mapping dev="90" gm="72"/>
		<mapping dev="91" gm="78"/>
		<mapping dev="92" gm="61"/>
		<mapping dev="93" gm="68"/>
		<mapping dev="94" gm="53"/>
		<mapping dev="95" gm="54"/>
		<mapping dev="96" gm="52"/>
		<mapping dev="97" gm="109"/>
		<mapping dev="98" gm="81"/>
		<mapping dev="99" gm="88"/>
	</midisynthprofile>
<midisynthprofile category="midi" desc="Casio MT-540" name="mt540">
		<mapping dev="0" gm="0"/>
		<mapping dev="1" gm="6"/>
		<mapping dev="2" gm="11"/>
		<mapping dev="3" gm="18"/>
		<mapping dev="4" gm="19"/>
		<mapping dev="5" gm="62"/>
		<mapping dev="6" gm="48"/>
		<mapping dev="7" gm="73"/>
		<mapping dev="8" gm="54"/>
		<mapping dev="9" gm="26"/>
		<mapping dev="10" gm="14"/>
		<mapping dev="11" gm="7"/>
		<mapping dev="12" gm="50"/>
		<mapping dev="13" gm="117"/>
		<mapping dev="14" gm="4"/>
		<mapping dev="15" gm="20"/>
		<mapping dev="16" gm="21"/>
		<mapping dev="17" gm="36"/>
		<mapping dev="18" gm="119"/>
		<mapping dev="19" gm="123"/>
		<mapping dev="20" gm="3"/>
		<mapping dev="21" gm="12"/>
		<mapping dev="22" gm="68"/>
		<mapping dev="23" gm="92"/>
		<mapping dev="24" gm="46"/>
		<mapping dev="25" gm="89"/>
		<mapping dev="26" gm="94"/>
		<mapping dev="27" gm="93"/>
		<mapping dev="28" gm="88"/>
		<mapping dev="29" gm="95"/>
	</midisynthprofile>
<midisynthprofile category="midi" desc="Casio CT-460" name="ct460">
		<mapping dev="0" gm="0"/>
		<mapping dev="1" gm="6"/>
		<mapping dev="2" gm="11"/>
		<mapping dev="3" gm="18"/>
		<mapping dev="4" gm="19"/>
		<mapping dev="5" gm="62"/>
		<mapping dev="6" gm="73"/>
		<mapping dev="7" gm="54"/>
		<mapping dev="8" gm="26"/>
		<mapping dev="9" gm="14"/>
		<mapping dev="10" gm="7"/>
		<mapping dev="11" gm="93"/>
		<mapping dev="12" gm="50"/>
		<mapping dev="13" gm="117"/>
		<mapping dev="14" gm="3"/>
		<mapping dev="15" gm="4"/>
		<mapping dev="16" gm="12"/>
		<mapping dev="17" gm="16"/>
		<mapping dev="18" gm="21"/>
		<mapping dev="19" gm="48"/>
		<mapping dev="20" gm="68"/>
		<mapping dev="21" gm="84"/>
		<mapping dev="22" gm="46"/>
		<mapping dev="23" gm="89"/>
		<mapping dev="24" gm="92"/>
		<mapping dev="25" gm="88"/>
		<mapping dev="26" gm="95"/>
		<mapping dev="27" gm="36"/>
		<mapping dev="28" gm="119"/>
		<mapping dev="29" gm="123"/>
	</midisynthprofile>
<DECBExtensionMapping ascii="false" category="advanced,disk" extension="BAS" filetype="0" type="decbextmap"/>
<DECBExtensionMapping ascii="false" category="advanced,disk" extension="DAT" filetype="1" type="decbextmap"/>
<DECBExtensionMapping ascii="false" category="advanced,disk" extension="BIN" filetype="2" type="decbextmap"/>
<DECBExtensionMapping ascii="true" category="advanced,disk" extension="TXT" filetype="3" type="decbextmap"/>
<DECBExtensionMapping ascii="true" category="advanced,disk" extension="ASC" filetype="3" type="decbextmap"/>
<Drive0Path category="disk,advanced" type="file"/>
<Drive1Path category="disk,advanced" type="file"/>
<Drive2Path category="disk,advanced" type="file"/>
<Drive3Path category="disk,advanced" type="file"/>
<Drive4Path category="disk,advanced" type="file"/>
<Drive5Path category="disk,advanced" type="file"/>
<Drive6Path category="disk,advanced" type="file"/>
<Drive7Path category="disk,advanced" type="file"/>
<Drive8Path category="disk,advanced" type="file"/>
<Drive9Path category="disk,advanced" type="file"/>
<Drive10Path category="disk,advanced" type="file"/>
<Drive11Path category="disk,advanced" type="file"/>
<Drive12Path category="disk,advanced" type="file"/>
<Drive13Path category="disk,advanced" type="file"/>
<Drive14Path category="disk,advanced" type="file"/>
<Drive15Path category="disk,advanced" type="file"/>
<Drive16Path category="disk,advanced" type="file"/>
<Drive17Path category="disk,advanced" type="file"/>
<Drive18Path category="disk,advanced" type="file"/>
<Drive19Path category="disk,advanced" type="file"/>
<Drive20Path category="disk,advanced" type="file"/>
<Drive21Path category="disk,advanced" type="file"/>
<Drive22Path category="disk,advanced" type="file"/>
<Drive23Path category="disk,advanced" type="file"/>
<Drive24Path category="disk,advanced" type="file"/>
<Drive25Path category="disk,advanced" type="file"/>
<Drive26Path category="disk,advanced" type="file"/>
<Drive27Path category="disk,advanced" type="file"/>
<Drive28Path category="disk,advanced" type="file"/>
<Drive29Path category="disk,advanced" type="file"/>
<Drive30Path category="disk,advanced" type="file"/>
<Drive31Path category="disk,advanced" type="file"/>
<Drive32Path category="disk,advanced" type="file"/>
<Drive33Path category="disk,advanced" type="file"/>
<Drive34Path category="disk,advanced" type="file"/>
<Drive35Path category="disk,advanced" type="file"/>
<Drive36Path category="disk,advanced" type="file"/>
<Drive37Path category="disk,advanced" type="file"/>
<Drive38Path category="disk,advanced" type="file"/>
<Drive39Path category="disk,advanced" type="file"/>
<Drive40Path category="disk,advanced" type="file"/>
<Drive41Path category="disk,advanced" type="file"/>
<Drive42Path category="disk,advanced" type="file"/>
<Drive43Path category="disk,advanced" type="file"/>
<Drive44Path category="disk,advanced" type="file"/>
<Drive45Path category="disk,advanced" type="file"/>
<Drive46Path category="disk,advanced" type="file"/>
<Drive47Path category="disk,advanced" type="file"/>
<Drive48Path category="disk,advanced" type="file"/>
<Drive49Path category="disk,advanced" type="file"/>
<Drive50Path category="disk,advanced" type="file"/>
<Drive51Path category="disk,advanced" type="file"/>
<Drive52Path category="disk,advanced" type="file"/>
<Drive53Path category="disk,advanced" type="file"/>
<Drive54Path category="disk,advanced" type="file"/>
<Drive55Path category="disk,advanced" type="file"/>
<Drive56Path category="disk,advanced" type="file"/>
<Drive57Path category="disk,advanced" type="file"/>
<Drive58Path category="disk,advanced" type="file"/>
<Drive59Path category="disk,advanced" type="file"/>
<Drive60Path category="disk,advanced" type="file"/>
<Drive61Path category="disk,advanced" type="file"/>
<Drive62Path category="disk,advanced" type="file"/>
<Drive63Path category="disk,advanced" type="file"/>
<Drive64Path category="disk,advanced" type="file"/>
<Drive65Path category="disk,advanced" type="file"/>
<Drive66Path category="disk,advanced" type="file"/>
<Drive67Path category="disk,advanced" type="file"/>
<Drive68Path category="disk,advanced" type="file"/>
<Drive69Path category="disk,advanced" type="file"/>
<Drive70Path category="disk,advanced" type="file"/>
<Drive71Path category="disk,advanced" type="file"/>
<Drive72Path category="disk,advanced" type="file"/>
<Drive73Path category="disk,advanced" type="file"/>
<Drive74Path category="disk,advanced" type="file"/>
<Drive75Path category="disk,advanced" type="file"/>
<Drive76Path category="disk,advanced" type="file"/>
<Drive77Path category="disk,advanced" type="file"/>
<Drive78Path category="disk,advanced" type="file"/>
<Drive79Path category="disk,advanced" type="file"/>
<Drive80Path category="disk,advanced" type="file"/>
<Drive81Path category="disk,advanced" type="file"/>
<Drive82Path category="disk,advanced" type="file"/>
<Drive83Path category="disk,advanced" type="file"/>
<Drive84Path category="disk,advanced" type="file"/>
<Drive85Path category="disk,advanced" type="file"/>
<Drive86Path category="disk,advanced" type="file"/>
<Drive87Path category="disk,advanced" type="file"/>
<Drive88Path category="disk,advanced" type="file"/>
<Drive89Path category="disk,advanced" type="file"/>
<Drive90Path category="disk,advanced" type="file"/>
<Drive91Path category="disk,advanced" type="file"/>
<Drive92Path category="disk,advanced" type="file"/>
<Drive93Path category="disk,advanced" type="file"/>
<Drive94Path category="disk,advanced" type="file"/>
<Drive95Path category="disk,advanced" type="file"/>
<Drive96Path category="disk,advanced" type="file"/>
<Drive97Path category="disk,advanced" type="file"/>
<Drive98Path category="disk,advanced" type="file"/>
<Drive99Path category="disk,advanced" type="file"/>
<Drive100Path category="disk,advanced" type="file"/>
<Drive101Path category="disk,advanced" type="file"/>
<Drive102Path category="disk,advanced" type="file"/>
<Drive103Path category="disk,advanced" type="file"/>
<Drive104Path category="disk,advanced" type="file"/>
<Drive105Path category="disk,advanced" type="file"/>
<Drive106Path category="disk,advanced" type="file"/>
<Drive107Path category="disk,advanced" type="file"/>
<Drive108Path category="disk,advanced" type="file"/>
<Drive109Path category="disk,advanced" type="file"/>
<Drive110Path category="disk,advanced" type="file"/>
<Drive111Path category="disk,advanced" type="file"/>
<Drive112Path category="disk,advanced" type="file"/>
<Drive113Path category="disk,advanced" type="file"/>
<Drive114Path category="disk,advanced" type="file"/>
<Drive115Path category="disk,advanced" type="file"/>
<Drive116Path category="disk,advanced" type="file"/>
<Drive117Path category="disk,advanced" type="file"/>
<Drive118Path category="disk,advanced" type="file"/>
<Drive119Path category="disk,advanced" type="file"/>
<Drive120Path category="disk,advanced" type="file"/>
<Drive121Path category="disk,advanced" type="file"/>
<Drive122Path category="disk,advanced" type="file"/>
<Drive123Path category="disk,advanced" type="file"/>
<Drive124Path category="disk,advanced" type="file"/>
<Drive125Path category="disk,advanced" type="file"/>
<Drive126Path category="disk,advanced" type="file"/>
<Drive127Path category="disk,advanced" type="file"/>
<Drive128Path category="disk,advanced" type="file"/>
<Drive129Path category="disk,advanced" type="file"/>
<Drive130Path category="disk,advanced" type="file"/>
<Drive131Path category="disk,advanced" type="file"/>
<Drive132Path category="disk,advanced" type="file"/>
<Drive133Path category="disk,advanced" type="file"/>
<Drive134Path category="disk,advanced" type="file"/>
<Drive135Path category="disk,advanced" type="file"/>
<Drive136Path category="disk,advanced" type="file"/>
<Drive137Path category="disk,advanced" type="file"/>
<Drive138Path category="disk,advanced" type="file"/>
<Drive139Path category="disk,advanced" type="file"/>
<Drive140Path category="disk,advanced" type="file"/>
<Drive141Path category="disk,advanced" type="file"/>
<Drive142Path category="disk,advanced" type="file"/>
<Drive143Path category="disk,advanced" type="file"/>
<Drive144Path category="disk,advanced" type="file"/>
<Drive145Path category="disk,advanced" type="file"/>
<Drive146Path category="disk,advanced" type="file"/>
<Drive147Path category="disk,advanced" type="file"/>
<Drive148Path category="disk,advanced" type="file"/>
<Drive149Path category="disk,advanced" type="file"/>
<Drive150Path category="disk,advanced" type="file"/>
<Drive151Path category="disk,advanced" type="file"/>
<Drive152Path category="disk,advanced" type="file"/>
<Drive153Path category="disk,advanced" type="file"/>
<Drive154Path category="disk,advanced" type="file"/>
<Drive155Path category="disk,advanced" type="file"/>
<Drive156Path category="disk,advanced" type="file"/>
<Drive157Path category="disk,advanced" type="file"/>
<Drive158Path category="disk,advanced" type="file"/>
<Drive159Path category="disk,advanced" type="file"/>
<Drive160Path category="disk,advanced" type="file"/>
<Drive161Path category="disk,advanced" type="file"/>
<Drive162Path category="disk,advanced" type="file"/>
<Drive163Path category="disk,advanced" type="file"/>
<Drive164Path category="disk,advanced" type="file"/>
<Drive165Path category="disk,advanced" type="file"/>
<Drive166Path category="disk,advanced" type="file"/>
<Drive167Path category="disk,advanced" type="file"/>
<Drive168Path category="disk,advanced" type="file"/>
<Drive169Path category="disk,advanced" type="file"/>
<Drive170Path category="disk,advanced" type="file"/>
<Drive171Path category="disk,advanced" type="file"/>
<Drive172Path category="disk,advanced" type="file"/>
<Drive173Path category="disk,advanced" type="file"/>
<Drive174Path category="disk,advanced" type="file"/>
<Drive175Path category="disk,advanced" type="file"/>
<Drive176Path category="disk,advanced" type="file"/>
<Drive177Path category="disk,advanced" type="file"/>
<Drive178Path category="disk,advanced" type="file"/>
<Drive179Path category="disk,advanced" type="file"/>
<Drive180Path category="disk,advanced" type="file"/>
<Drive181Path category="disk,advanced" type="file"/>
<Drive182Path category="disk,advanced" type="file"/>
<Drive183Path category="disk,advanced" type="file"/>
<Drive184Path category="disk,advanced" type="file"/>
<Drive185Path category="disk,advanced" type="file"/>
<Drive186Path category="disk,advanced" type="file"/>
<Drive187Path category="disk,advanced" type="file"/>
<Drive188Path category="disk,advanced" type="file"/>
<Drive189Path category="disk,advanced" type="file"/>
<Drive190Path category="disk,advanced" type="file"/>
<Drive191Path category="disk,advanced" type="file"/>
<Drive192Path category="disk,advanced" type="file"/>
<Drive193Path category="disk,advanced" type="file"/>
<Drive194Path category="disk,advanced" type="file"/>
<Drive195Path category="disk,advanced" type="file"/>
<Drive196Path category="disk,advanced" type="file"/>
<Drive197Path category="disk,advanced" type="file"/>
<Drive198Path category="disk,advanced" type="file"/>
<Drive199Path category="disk,advanced" type="file"/>
<Drive200Path category="disk,advanced" type="file"/>
<Drive201Path category="disk,advanced" type="file"/>
<Drive202Path category="disk,advanced" type="file"/>
<Drive203Path category="disk,advanced" type="file"/>
<Drive204Path category="disk,advanced" type="file"/>
<Drive205Path category="disk,advanced" type="file"/>
<Drive206Path category="disk,advanced" type="file"/>
<Drive207Path category="disk,advanced" type="file"/>
<Drive208Path category="disk,advanced" type="file"/>
<Drive209Path category="disk,advanced" type="file"/>
<Drive210Path category="disk,advanced" type="file"/>
<Drive211Path category="disk,advanced" type="file"/>
<Drive212Path category="disk,advanced" type="file"/>
<Drive213Path category="disk,advanced" type="file"/>
<Drive214Path category="disk,advanced" type="file"/>
<Drive215Path category="disk,advanced" type="file"/>
<Drive216Path category="disk,advanced" type="file"/>
<Drive217Path category="disk,advanced" type="file"/>
<Drive218Path category="disk,advanced" type="file"/>
<Drive219Path category="disk,advanced" type="file"/>
<Drive220Path category="disk,advanced" type="file"/>
<Drive221Path category="disk,advanced" type="file"/>
<Drive222Path category="disk,advanced" type="file"/>
<Drive223Path category="disk,advanced" type="file"/>
<Drive224Path category="disk,advanced" type="file"/>
<Drive225Path category="disk,advanced" type="file"/>
<Drive226Path category="disk,advanced" type="file"/>
<Drive227Path category="disk,advanced" type="file"/>
<Drive228Path category="disk,advanced" type="file"/>
<Drive229Path category="disk,advanced" type="file"/>
<Drive230Path category="disk,advanced" type="file"/>
<Drive231Path category="disk,advanced" type="file"/>
<Drive232Path category="disk,advanced" type="file"/>
<Drive233Path category="disk,advanced" type="file"/>
<Drive234Path category="disk,advanced" type="file"/>
<Drive235Path category="disk,advanced" type="file"/>
<Drive236Path category="disk,advanced" type="file"/>
<Drive237Path category="disk,advanced" type="file"/>
<Drive238Path category="disk,advanced" type="file"/>
<Drive239Path category="disk,advanced" type="file"/>
<Drive240Path category="disk,advanced" type="file"/>
<Drive241Path category="disk,advanced" type="file"/>
<Drive242Path category="disk,advanced" type="file"/>
<Drive243Path category="disk,advanced" type="file"/>
<Drive244Path category="disk,advanced" type="file"/>
<Drive245Path category="disk,advanced" type="file"/>
<Drive246Path category="disk,advanced" type="file"/>
<Drive247Path category="disk,advanced" type="file"/>
<Drive248Path category="disk,advanced" type="file"/>
<Drive249Path category="disk,advanced" type="file"/>
<Drive250Path category="disk,advanced" type="file"/>
<Drive251Path category="disk,advanced" type="file"/>
<Drive252Path category="disk,advanced" type="file"/>
<Drive253Path category="disk,advanced" type="file"/>
<Drive254Path category="disk,advanced" type="file"/>
<Drive255Path category="disk,advanced" type="file"/>
</drivewire-config>
